{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section style="background-color: var(--primary-color);">
  <div class="container py-5 ">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-lg border-0 rounded-4 p-4">
          <h3 class="text-center fw-bold mb-3" style="color: #ba4395;">💳 Instructions de paiement</h3>
          <p class="text-center text-muted">Veuillez transférer le montant sur le compte suivant :</p>
  
          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item"><strong> Baridimob :</strong> 00799999001272491796 </li>
            <li class="list-group-item"><strong> CCP:</strong> 0012724917 clé 96</li>
            <li class="list-group-item"><strong> Mr :</strong> GAHAR Mohamed Aniss </li>
          </ul>
  
          <p class="text-center">Après avoir effectué le virement, veuillez téléverser une capture d’écran comme preuve de paiement sur whatsapp :</p>
          <a  href="https://wa.me/213770283335"  target="_blank"  class="text-center">
            <!-- <i class="fa-brands fa-whatsapp" style="color: green; font-size: xx-large;"></i> -->
            lien de notre whatsapp
          </a>
        </div>
      </div>
    </div>
</div>
</section>

<style>
      .dark-mode{
    --primary-color : #222;
    --secondary-color : #f8f9fa ;
    --third-color:#edeeee ;
}
    :root{
    --primary-color : #f8f9fa;
    --secondary-color : #222 ;
    --third-color:#757688 ;
}
</style>

{% endblock %}