{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if trip %}
<div class="container py-5 d-flex justify-content-center" style="width: 80%;">
    <div class="card shadow-lg border-0 d-flex flex-row" style="width: 100%; height: 80vh; overflow: hidden; border-radius: 20px;">
        <div class="col-md-5">
            <img src="{{ trip.image.url }}" class="img-fluid h-100 w-100 object-fit-cover rounded-start" alt="Trip Image">
        </div>
        <div class="col-md-7 ">
            <div class="card-body">
                <h3 class="card-title fw-bold"  style="color: #ba4395;">{{ trip.title }}</h3> 
                <p class="card-text fw-semibold text-success">{{ trip.price }} DA per person</p>
                <p class="card-text"><i class="bi bi-calendar"></i> {{ trip.days }} days</p>
                <p class="card-text"><i class="bi bi-people"></i> {{ trip.people }} people max</p>
                <p class="card-text text-muted">{{ trip.description }}</p>
            </div>
        </div>
    </div>
</div>

{% endif %}

<div class="container mt-5">
    <div class="row">
        <!-- Left Column - Checkout Form -->
        <div class="col-12">
            <h2 class="mb-4">Checkout</h2>
            <form method="post">
                {% csrf_token %}
                <!-- Customer Info -->
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="FullNmae" class="form-label">Full Name</label>
                        <input name="FullName" type="text" class="form-control" id="FullName" required>
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">Email</label>
                        <input name="email" type="email" class="form-control" placeholder="you@example.com" id="email" required>
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">Number of travelers</label>
                        <input name="numberOfTravelers" type="number" class="form-control" id="numberOfTravelers" required>
                    </div>
                    <div class="col-12">
                        <label for="phone" class="form-label">Phone</label>
                        <input name="phone" type="tel" class="form-control" id="phone" placeholder="+213 555 123 456" required>
                    </div>
                </div>
                <br> <br>
                <!-- Terms & Place Order -->
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="terms" required>
                    <label class="form-check-label" for="terms">I agree to the terms & conditions</label>
                </div>

                <button class="btn btn-primary w-100 mt-4" type="submit">Place Order</button>
            </form>
        </div>
    </div>
</div>

<br> <br>
{% endblock %}
